body {
  margin: 0;
  background: #1a1a1a;
  color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid #e8e8e8;
}
nav a {
  color: #e8e8e8;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
nav a:hover {
  text-decoration: underline;
  transform: rotate(-5deg);
}